name: CI - Build and Test

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permissions for Gradle
        run: chmod +x gradlew

      - name: Build and run tests
        run: ./gradlew clean build --no-daemon --stacktrace
